[workspace]
resolver = "2"
members = [
    "crates/cli",
    "crates/core",
    "crates/daemon",
    "crates/ipc",
    "tests/specs",
]

[workspace.package]
version = "0.4.1"
edition = "2021"

[profile.release]
strip = true
lto = true
panic = "abort"
