[workspace]
resolver = "2"
members = [
    "crates/cli",
    "crates/core",
    "crates/remote",
]

[workspace.package]
version = "0.2.1-dev"
edition = "2021"

[profile.release]
strip = true
lto = true
panic = "abort"
